.barra-navegacion a {
    color: black;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.barra-navegacion a:hover {
    background-color: rgb(160, 213, 228);
    border-radius: 10px;
}

.barra-navegacion button:hover {
    background-color: rgb(160, 213, 228);
}

.barra-navegacion .pag-actual {
    background-color: rgb(160, 213, 228);
    border-radius: 10px;
    color: white;
}

h1 {
    font-family: cursive;
}

p {
    font-family: cursive;
}

.formulario {
    font-family: cursive;
}

.carousel-item img {
    height: 600px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "disco-1 texto-1"
        "texto-2 disco-2"
        "disco-3 texto-3"
        "texto-4 disco-4"
        "disco-5 texto-5";
}

.disco-1 {
    grid-area: disco-1;
}

.texto-1 {
    grid-area: texto-1;
}

.disco-2 {
    grid-area: disco-2;
}

.texto-2 {
    grid-area: texto-2;
}

.disco-3 {
    grid-area: disco-3;
}

.texto-3 {
    grid-area: texto-3;
}

.disco-4 {
    grid-area: disco-4;
}

.texto-4 {
    grid-area: texto-4;
}

.disco-5 {
    grid-area: disco-5;
}

.texto-5 {
    grid-area: texto-5;
}


@media (max-width: 1200px) {
    .principal {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 991px) {
    .discografia div {
        display: block;
    }
}