.barra-navegacion a {
    color: black;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    &:hover {
        background-color: rgb(160, 213, 228);
        border-radius: 10px;
    }
}



.barra-navegacion .burger:hover {
    background-color: rgb(160, 213, 228);
}

.barra-navegacion .pag-actual {
    background-color: rgb(160, 213, 228);
    border-radius: 10px;
    color: white;
}